.App-header{
    background-color: var(--dark);
    padding: 0 0.5rem;
}

.App-header > .navbar > .navbar-brand {
    font-weight: 500;
    font-size: 24px;
}

.App-header form {
    width: 40%;
}

@media screen and (max-width: 768px) {
    .App-header{
        background-color: var(--main-header-green);
    }
}