:root {
    --dark: #343a40;
    --main-header-green: #2cc185;
    --main-header-hover-green: #27ac77;
    --gray-font: #545454;
    --light-gray-font: #a2a2a2;
}

@import url("NaviBar.css");
@import url("Header.css");
@import url("UserInfo.css");

.App {
    width: 100%;
}

.main {
    width: 100%;
}

.container {
    padding-top: 20px;
}

.container hr {
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .container hr {
        margin-bottom: 16px;
    }
}
